<header id="general-header">
  <section class="row-1">
    <div class="logo">
      <img src="{{ 'https://i.imgur.com/QNhrVTB.png' }}" alt="Logo">
    </div>
    <div class="search">
      <input type="text" placeholder="Pesquisar...">
      <button type="button" name="button"><i class="fa fa-search"></i></button>
    </div>
  </section>
  <section class="row-2">
    <nav class="collections">
      <ul class="principal-collection">
        {%- for link in linklists['main-menu'].links -%}
          <li class="collection">
            <a href="{{ link.url }}">{{ link.title }}
            {% if link.links != blank %}
              {% render 'icon-arrow-down' %}
            {% endif %}
          </a>
            <!-- subcollections -->
            {% if link.links != blank %}
              <ul class="subcollection">
                {% for sublink in link.links %}
                  <li>
                    <a href="{{ sublink.url }}">{{ sublink.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>
    <div class="user">
      <a class="create-account" href="{{ routes.account_register_url }}">Crie a sua conta</a>
      <a class="login" href="{{ routes.account_login_url }}">Entre</a>
      <a class="orders" href="">Compras</a>
      <a class="cart" href="{{ routes.cart_url }}">{% render 'icon-cart' %}</a>
    </div>
  </section>
</header>
